<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Bezoekers - FestCoin</title>
</head>
<body>
    <!-- header -->
    <%- include("../partials/header") %>

    <!-- body -->
    <main class="pt-16">
        <!-- hero sectie -->
        <%- include("../partials/hero", {
            title:"Geniet van je evenement, wij regelen de rest!",
            subtext: "Met FestCoin betaal je snel, veilig en overzichtelijk met je smartphone. Vanaf nu geen contant geld of bonnetjes meer",
        }) %>

        <!-- Hoe werkt het sectie -->
        <%- include("../partials/hoeWerktHet") %>

        <!-- Waarom FestCoin -->
        <%- include("../partials/waarom", {sub:"Het is meer dan gewoon betalen" ,daarom: bezoeker_redenen}) %>

        <!-- faq op bezoekers gericht -->
        <%- include('../partials/faq' , {faq: faq_bezoekers}) %>

        <!-- CTA -->
        <%- include("../partials/cta",{
            title:"Klaar voor je volgende evenement?",
            sub:"Maak nu een gratis account aan en ervaar het gemak en kracht van FestCoin",
        }) %>
    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>