<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vansh Singh & Theo Roosens">
    <link rel="stylesheet" href="/css/styles.css">
    <title>FestCoin</title>
</head>
<body>
    <!-- Header -->
    <%- include("../partials/header") %>

    <!-- main -->
    <main class="pt-16">

        <%- include("../partials/hero", {
            img: "./assets/tomorrowland.jpg",
            title: "Cashless betalingen<br>voor jouw evenement", 
            subtext: "Maak betalen op evenementen moeiteloos. <br/>Perfect voor festivals, concerten en grote evenementen.",
            knop1:"Start als bezoeker",
            knop2: "Start als organisator"
        }) %>

        <%- include("../partials/features") %>
        <%- include("../partials/faq") %>
        <%- include("../partials/cta") %>
    </main>

    <!-- Footer -->
    <%- include("../partials/footer") %>
</body>
</html>