<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Vansh Singh & Theo Roosens">
    <link rel="stylesheet" href="/css/styles.css">
    <title>FestCoin</title>
</head>
<body>
    <!-- Header -->
    <%- include("../partials/index/header") %>

    <!-- main -->
    <main class="pt-16">

        <%- include("../partials/index/hero", {
            img: "./assets/tomorrowland.jpg",
            title: "Cashless betalingen<br>voor jouw evenement", 
            subtext: "Maak betalen op evenementen moeiteloos. <br/>Perfect voor festivals, concerten en grote evenementen.",
            knop1:"Start als bezoeker",
            knop2: "Start als organisator"
        }) %>

        <%- include("../partials/index/features", {
            title: "Waarom FestCoin?",
            sub: "Alles wat je nodig hebt voor een vlekkeloos evenement, voor bezoeker als organisator!",
        }) %>

        <%- include('../partials/index/faq' , {faq: faq_home}) %>
        
        <%- include("../partials/index/cta", {
            title: "Klaar om volledig los te gaan?", 
            sub:"Sluit je aan bij duizenden bezoekers en honderden evenementen die al kiezen voor FestCoin",
            knop: "Registreer nu!",
            knopHref: "/registreren",
        }) %>
        
    </main>

    <!-- Footer -->
    <%- include("../partials/index/footer") %>
</body>
</html>