<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Organisatoren - FestCoin</title>
</head>
<body>
    <!-- header -->
    <%- include("../partials/header") %>

    <!-- body -->
    <main class="pt-16">
        <!-- hero sectie -->
        <%- include("../partials/hero", {
            title:"Verhoog je omzet,<br/>Verlaag je kosten",
            subtext: "FestCoin helpt orgaisatoren om transacties te versnellen, kosten te verlagen en realtime inzichten bij te krijgen",
        }) %>
        <!-- waarom voor organisatoren -->
        <%- include("../partials/waarom", {sub:"De voordelen om jouw evenement vlekkeloos te laten verlopen",daarom: organisatoren_redenen}) %>

        <!-- review sectie van andere organisatoren ? -->
        <!-- FAQ gericht op organisatoren -->
        <%- include('../partials/faq' , {faq: faq_org}) %>
        <!-- CTA -->

    </main>

    <!-- footer -->
    <%- include("../partials/footer") %>
    
</body>
</html>