<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Profiel settings - FestCoin</title>
</head>
<body>
    <!-- header -->
    <%- include("../partials/index/header") %>
    
    <!-- body -->
    <main class="py-16">
        <%- include("../partials/profileSettings/profileInformation")%>
        <%- include("../partials/profileSettings/wachtwoordVeranderen")%>
        <%- include("../partials/profileSettings/profielDangerZone")%>
    </main>
    
    <!-- footer -->
    <%- include("../partials/index/footer") %>
    
</body>
</html>