<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mijn Wallet - FestCoin</title>
</head>
<body>
    <%- include("../partials/index/header") %>
    
    <main class="py-16">
        <%- include("../partials/walletBeheer/saldo")%>
        <%- include("../partials/walletBeheer/festCoinsActionTabs")  %>
        <%- include("../partials/walletBeheer/saldoTransactie")  %>
        <script src="/js/addCoins.js"></script>
    </main>

    <%- include("../partials/index/footer") %>
    
</body>
</html>