<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Mijn Wallet - FestCoin</title>
</head>
<body>
    <%- include("../partials/header") %>
    
    <main class="py-16">
        <%- include("../partials/saldo")%>
        <%- include("../partials/festCoinsActionTabs")  %>
        <%- include("../partials/saldoTransactie")  %>
    </main>

    <%- include("../partials/footer") %>
</body>
</html>